@font-face {
  font-family: "BitterBold";
  src: url("../fonts/Bitter-Bold.ttf");
}

@font-face {
  font-family: "BitterRegular";
  src: url("../fonts/Bitter-Regular.ttf");
}

@font-face {
  font-family: "VarelaRoundRegular";
  src: url("../fonts/VarelaRound-Regular.ttf");
}

@font-face {
  font-family: "VarelaRegular";
  src: url("../fonts/Varela-Regular.ttf");
}
